<div id="homepage" class="block">
	<div class="the_mountain_america">The Mountain America</div>
	<div class="retirement">Retirement</div>
	<div class="quiz">Quiz</div>
	<div id="homepage_details">
		<h2 class="red arvo">Do you know all there is to know about retirement planning?</h2>
		<h3 class="red arvo">Play to win a Kindle Fire, Xbox, Jazz Tickets or one of many other exciting prizes!</h3>
		<p class="black arvo">Test your knowledge with our Quiz and share your Retirement "Bucket List".</p>
		<p class="black arvo">Then we'll give you an opportunity to redeem your unique prize code. Click below to get started.</p>
		<a href="#" class="btn next get_started">GET STARTED</a>
	</div>
</div>

<div id="information" class="block">
	<h2 class="huge black arvo">First, fill in your information below...</h2>
	<div id="information_form" class="cfx">
		<%= render 'submissions/form', :locals => {:submission => @submission, :test => 'test'} %>
	</div>
	<p id="required_span" class="red arvo">(all fields are required)</p>
	<div id="feeds">
		<div id="feed_wrapper">
			<% @feeds.each do |feed| %>
				<div class="feed_container">
					<h3 class="black copse"><%= feed.byline %></h3>
					<p class="black copse"><%= feed.content %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>

<% @questions.shuffle.each_with_index do |question, index| %>
	<div id="<%= dom_id(question) %>" class="question_container block" data-question-id="<%= question.id %>" data-correct-answer-id="<%= question.correct_answer_id.blank? ? 'none' : Digest::MD5.hexdigest(question.correct_answer_id.to_s) %>" data-selected-hash="" data-joke="<%= question.joke %>">
		<div class="question_number">
			<h2 class="black arvo">QUESTION <span><%= index + 1 %></span></h2>
			<div class="over_grunge"></div>
		</div>
		<h2 class="huge red arvo question_content"><%= question.content %></h2>
		<div class="answers">
			<% question.answers.each_with_index do |answer, index| %>
				<a href="#" class="answer_choice <%= @indices[index + 1] %>" data-answer-id="<%= answer.id %>">
					<p class="black copse answer_index <%= @indices[index + 1] %>"></p>
					<p class="black copse answer_text"><%= answer.content %></p>
				</a>
			<% end %>
		</div>
		<a href="#" class="btn submit_answer">Submit Answer</a>
		<div class="response_text">
			<p class="black copse"><%= question.correct_answer_response %></p>
		</div>
		<h2 class="red arvo answered_correctly" style="display:none;">Nice! You answered correctly.</h2>
		<h2 class="red arvo answered_incorrectly" style="display:none;">Sorry! You answered incorrectly.</h2>
	</div>
<% end %>

<div id="grade_section" class="block">
	<div id="grade_container">
		<h2 class="red arvo">You have successfully completed The Mountain America Retirement Quiz.</h2>
		<p class="grade_text black bevan">You got <span id="grade_amount"></span> <span id="questions_right">questions right!</span></p>

		<h2 class="grade_replacement1 huge black arvo">Not too shabby - You scored a <span id="grade_letter"></span>.</h2>

		<p class="grade_replacement2 black arvo">Looks like you've got the retirement fundamentals down pat.</p>
		<p class="grade_replacement3 black arvo second_line">But remember - there's always room for improvement.</p>
		<p class="black arvo">If you'd like, you can retake the Retirement Quiz now.</p>
		<p class="black arvo">Or, if you have a Prize Code, click continue to see if you've won!</p>
		<div class="over_grunge"></div>
	</div>

	<div class="buttons">
		<a href="/" class="btn retake_quiz">Retake Quiz</a>
		<a href="#" class="btn next continue">Continue</a>
	</div>
</div>

<div id="bucket_list" class="block">
	<p class="tell_us">Tell us what's on your</p>
	<p class="retirement_bucket_list">retirement bucket list</p>
	<h2 class="red arvo">What's that one thing that you've got in the back of your mind<br /> that you absolutely have to do before it's too late?</h2>
	<div id="textarea_wrapper">
		<textarea id="bucket_list_text" placeholder="When I retire I want to..."></textarea>
	</div>
	<div class="buttons">
		<a href="/" class="btn retake_quiz">Retake Quiz</a>
		<a href="#" class="btn continue">Continue</a>
	</div>
</div>

<div id="promo_container" class="block">
	<p class="enter_prize_code">Enter your prize code below to</p>
	<p class="find_out">find out if you've won!</p>
	<h2 class="red arvo">Enter your unique prize code exactly as it appears on your card.</h2>
	<div id="promo_code_wrapper">
		<input id="promo_code" size="30" type="text" maxlength="6">
	</div>
	<h2 class="bad_promo red arvo">Sorry! That promo code is either invalid or already used</h2>
	<div class="buttons">
		<a href="/" class="btn retake_quiz">Retake Quiz</a>
		<a href="#" class="btn did_i_win">Did I Win?</a>
	</div>
</div>

<div id="prize_container" class="block">
	<p class="congratulations_text">congratulations!</p>
	<h2 class="huge red arvo">You've won an awesome <span id="prize_name"></span></h2>
	<p class="black arvo">You should be receiving a confirmation email shortly.</p>
	<p class="black arvo">Your prize will be delivered directly to your branch.</p>
	<p class="black arvo bottom_margin">If you have any questions please contact Ami Young at Ext. 6437</p>
	<p class="black arvo">The Mountain America Retirement Quiz will be running through March 31st.</p>
	<p class="black arvo">So you may have another chance to win!<p>
	<a href="/" class="btn retake_quiz">Retake Quiz</a>
</div>