<div id="homepage" class="block">
	<div class="the_mountain_america">The Mountain America</div>
	<div class="retirement">Retirement</div>
	<div class="quiz">Quiz</div>
	<div id="homepage_details">
		<h2>Do you know all there is to know about retirement planning?</h2>
		<h3>Play to win a Kindle Fire, Xbox, Jazz Tickets or one of many other exciting prizes!</h3>
		<p>Test your knowledge with our Quiz and share your Retirement "Bucket List".</p>
		<p>Then we'll give you an opportunity to redeem your unique prize code. Click below to get started.</p>
		<a href="#" class="btn get_started">GET STARTED</a>
	</div>
</div>

<div id="information" class="block">
	<h1>FORM GOES HERE</h1>
	<a href="#" class="btn take_the_quiz">Take The Quiz</a>
</div>


<% @questions.shuffle.each_with_index do |question, index| %>
	<div id="<%= dom_id(question) %>" class="question_container block" data-correct-answer-id="<%= question.correct_answer_id.blank? ? 'none' : Digest::MD5.hexdigest(question.correct_answer_id.to_s) %>">
		<div class="question_number">QUESTION <%= index + 1 %></div>
		<div class="question_content"><%= question.content %></div>
		<div class="answers">
			<% question.answers.shuffle.each_with_index do |answer, index| %>
				<a href="#" class="answer_choice" data-answer-id="<%= answer.id %>">
					<p><span class="answer_index"><%= @indices[index + 1] %></span><%= answer.content %></p>
				</a>
			<% end %>
		</div>
	</div>
<% end %>