<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mountain America Retirement Quiz</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application-all", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag "application-ie", :media => "all" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %>">
    <div id="container" class="container">
      <div id="frame_container" class="cfx">
        <div id="frame_left"></div>
        <div id="frame_center">
          <div id="content">
            <%= yield %>
          </div>
        </div>
        <div id="frame_right"></div>
      </div>
      <div id="footer">
        <a href="http://www.macu.com" target="_blank" id="logo"><%= image_tag('logo.png', :width => 170, :height => 87, :border => '0') %></a>
        <div id="hills"></div>
      </div>
    </div> <!--! end of #container -->
  </body>
</html>